whoisxmlapi_4/documentation/DomainInfoSchema.xsd

<?xml version="1.0"?>

<xs:schema xmlns="" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
  <xs:element name="DomainInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="domainAvailability" type="xs:string" minOccurs="0" />
        <xs:element name="domainName" type="xs:string" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>